div.row
    div.col-lg-12
        include:md ../README.md
div.row
    div.col-lg-12
        div.col-sm-12.well
            form#easyLoadForm.form-horizontal
                div.form-group
                    label.col-sm-3.control-label PageNo:
                    div.col-sm-3.input-group
                        input.form-control(type="text",name="page",placeholder="PageNo")
                        span.input-group-btn
                            button.btn.btn-info(type=button) Search
                div.form-group
                    label.col-sm-3.control-label Category:
                    div.col-sm-6
                        label.checkbox-inline 1
                            input(type="checkbox")