div.row
    div.col-lg-12
        include:md ../README.md
hr
div.row
    div.col-lg-12
        div.col-sm-12.well
            form#autoRefreshForm.form-inline
                div.checkbox-inline
                    label Demo:
                div.checkbox-inline
                    label 自动刷新
                        input.a-sw(type="checkbox",checked="false")
                div.checkbox-inline
                    label 刷新间隔
                        select.a-intvl
                            each time in [30, 60, 180, 300, 600]
                                option(value=time) #{time}秒
div.row
    div.col-lg-12
        div.col-sm-12.well
            ul.list-group#autoRefreshList
                each item,idx in list
                    if idx>10
                        li.list-group-item(id=item.id)= item.value
script(type="text/javascript").
    $(function(){
        $('#autoRefreshForm').autoRefresh('#autoRefreshList', {selector: 'li'});
    });