meta(charset="utf-8")
title jQuery plugin Demo
// build:css sources/css/bootstrap.min.css
link(rel="stylesheet",type="text/css",href="css/bootstrap.css")
// endbuild
link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")
style.
    #content {
        margin-top: 60px;
    }
    #navbar {
        background-color: #428bca;
        border-color: #428bca;
        box-shadow: 3px 0 3px #ffffff;
    }
    #navbar .navbar-brand {
        font-family: "Monaco";
        font-size: 2em;
        color: #fff;
    }
    #navbar li>a {
        color: rgba(255,255,255,0.8);
    }
    #navbar li>a:hover {
        color: #fff;
    }
    #navbar li.active>a {
        color: #fff;
        background-color: rgba(0,0,0,0.2);
    }
    .anchor {
        position: relative;
        top: -60px;
    }
// build:js sources/js/jquery-1.10.2.min.js
script(type="text/javascript",src="js/jquery-1.10.2.js")
// endbuild
// build:js sources/js/bootstrap.min.js
script(type="text/javascript",src="js/bootstrap.js")
// endbuild
// build:js sources/js/plugin.min.js
each item in plugin
    script(type="text/javascript",src="src/#{item.path}")
// endbuild